[D-BUS Service]
Name=fi.w1.wpa_supplicant1
Exec=/kanapi_packages/wpa_supplicant-1.1/bin/wpa_supplicant.wrapper
User=root
SystemdService=wpa_supplicant.service
